    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        margin: 0;
        padding: 0;
      }


	  #clockdiv{
      font-family: sans-serif;
      color: #fff;
      display: inline-block;
      font-weight: 100;
      text-align: center;
      font-size: 30px;
    }

    #clockdiv > div{
      padding: 10px;
      border-radius: 3px;
      background: #00BF96;
      display: inline-block;
    }

    #clockdiv div > span{
      padding: 15px;
      border-radius: 3px;
      background: #00816A;
      display: inline-block;
    }

    .smalltext{
      padding-top: 5px;
      font-size: 16px;
    }

    	  #scorediv{
          font-family: sans-serif;
          color: #fff;
          display: inline-block;
          font-weight: 100;
          text-align: center;
          font-size: 30px;
        }

        #scorediv > div{
          padding: 10px;
          border-radius: 3px;
          background: #0A1358;
          display: inline-block;
        }

        #scorediv div > span{
          padding: 15px;
          border-radius: 3px;
          background: #2539CF ;
          display: inline-block;
        }
